version: "3.8"
services:
      backend:
        build: ./backend/
        restart: always
        ports:
          - 8080:8080
      frontend:
        build: ./frontend/
        restart: always
        ports:
          - 5173:5173
        stdin_open: true